@font-face {
    font-family: 'MetaPro';
    src: url(./Font/MetaPro-Normal.otf) format('otf'),
    url(./Font/MetaPro-Bold.otf) format('otf')
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 0.8rem;
    font-family: MetaPro;
}
.container {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    height: 1950px;
    display: flex;
    width: fit-content;
    margin: 20px auto;
    border-radius: 5px;
    border: 15px solid #46c1ca ;
    
}
/* left container */
.left {
    width: 50%;
}

.left .con {
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
}
.left .course-con {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.course-con span {
    font-size: 1.25rem;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    font-size: 0.8rem;
}

.box {
    width: 10px;
    height: 10px;
    background-color: #4FC3CA;
}

.boxes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 10px;
}

.boxes a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.boxes a:hover{
    color: #4FC3CA;
}

/* right container */
.right {
    width: 50%;
}
.right .con {
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
}

.right .course-con {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 0px;
}

.course-con span {
    color:  #006869;
    text-transform: uppercase;
    font-weight: bold;
}
.text{
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: 'MetaPro';
}


@media (max-width:500px) {
    body {
        font-size: 1rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 0;
        border-radius: 0;
    }
    .left , 
    .right{
        margin-top: 10px;
        width: 100%;
    }
    .left .con,
    .right .con {
        width: 80%;
        margin: auto;
    }
    .left .course-con{
        width: 80%;

    }
    .box-container {
        margin-left: 10px;
        width: 100%;
        font-size: 1rem;
    }

    .right .course-con {
        display: none;
    }
   
}

@media (max-width:320px) {
    .container {
        border: none;
    }

    .box-container {
        width: 250px;
        margin-left: 10px;
    }
    .text {
        width:250px;
        margin-left: 30px;
    }
    .right .course-con{
        display: none;
    }
}

@media (max-width:425px) {
    .left {
        width: 100%; 
    }

    .right {
        width: 100%;
    }
    .right .course-con {
        display: none;
    }
    .right .con {
        margin: auto;

    }
    .course-con {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width:768px) {
    body{
        font-size: 1rem;
    }
    .container{
        border: none;
        height: fit-content;
    }

    .course-con{
        width: 300px;
        margin-left: 10px;
    }
    .box-container{
        width: 300px;
    }
}